.bootstrap .maincontainer .aside__nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bootstrap body {
  font-family: "Roboto", sans-serif;
  color: #2F2F2F;
}
.bootstrap .checkbox {
  cursor: pointer;
}
.bootstrap .checkbox input[type=checkbox] {
  display: none;
}
.bootstrap .checkbox input[type=checkbox]:checked + .checkmark i[class*=fa-check-square] {
  display: block;
}
.bootstrap .checkbox input[type=checkbox]:checked + .checkmark i[class*=fa-square] {
  display: none;
}
.bootstrap .checkbox .checkmark i[class*=fa-check-square] {
  display: none;
  color: #EF4C85;
}
.bootstrap .checkbox .checkmark i[class*=fa-square] {
  display: block;
  color: #C4C4C4;
}
.bootstrap .input-box {
  border-radius: 12px;
  height: 25px;
  margin: 0;
  border: 1px solid #C4C4C4;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  overflow: none;
  min-width: 1px;
  width: auto;
  max-width: 100px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.bootstrap .input-box input {
  border: none;
  width: auto;
  background: transparent;
  width: 85%;
}
.bootstrap .input-box input:focus {
  outline: none;
}
.bootstrap .input-box input[type=text] {
  width: 65px;
}
.bootstrap .input-box input[type=number] {
  width: 45px;
}
.bootstrap .input-box a {
  font-size: 14px;
  color: #C4C4C4;
  display: flex;
  flex-basis: 15%;
  align-items: center;
}
.bootstrap .input-box select {
  border: none;
  -webkit-appearance: none;
}
.bootstrap .btn-pink {
  color: white;
  background-color: #EF4C85;
}
.bootstrap .btn-pink:hover {
  background-color: #c4406e;
}
.bootstrap .btn-rounded-pill {
  border-radius: 20px;
}
.bootstrap .users-grid {
  font-weight: 400;
}
.bootstrap .users-grid .vertical-divider {
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: #C4C4C4;
}
.bootstrap .users-grid__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
  margin-left: -15px;
}
.bootstrap .users-grid__header .logo {
  padding-left: 15px;
}
.bootstrap .users-grid__pills {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.bootstrap .users-grid__pills button {
  font-size: 12px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EF4C85;
}
.bootstrap .users-grid__pills .btn-active {
  background-color: #B1BC19;
}
.bootstrap .users-grid__users {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.bootstrap .users-grid__users .user-card {
  width: 100%;
  position: relative;
}
.bootstrap .users-grid__users .user-card .overlay {
  background: rgba(255, 255, 255, 0.78);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bootstrap .users-grid__users .user-card .overlay i {
  font-size: 32px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
}
.bootstrap .users-grid__users .user-card .overlay-text {
  font-size: 14px;
  font-weight: 600;
}
.bootstrap .users-grid__users .user-card .overlay--success {
  color: #EF4C85;
}
.bootstrap .users-grid__users .user-card .overlay--pending {
  color: #004863;
}
.bootstrap .users-grid__users .user-card .overlay--pending i {
  width: 32px;
  height: 32px;
  font-size: 14px;
  border-radius: 50%;
  color: white;
  background: #004863;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
}
.bootstrap .users-grid__users .user-card .card {
  padding: 7px;
  margin: 5px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
}
.bootstrap .users-grid__users .user-card .card .profile-picture img {
  height: 50px;
}
.bootstrap .users-grid__users .user-card .card .profile-details {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bootstrap .users-grid__users .user-card .card .profile-details .username {
  color: #00356A;
}
.bootstrap .users-grid__users .user-card .card .profile-details .displayname {
  color: #939393;
}
.bootstrap .users-grid__footer {
  display: flex;
  justify-content: space-between;
}
.bootstrap .float-labels {
  display: flex;
  align-items: center;
}
.bootstrap .float-labels label {
  margin: 10px 0;
}
.bootstrap .logo {
  display: flex;
  align-items: center;
}
.bootstrap .logo img {
  height: 32px;
}
.bootstrap .logo__brand {
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
}
.bootstrap .maincontainer {
  border: 1px solid #CCCCCC;
  padding: 0 15px;
  font-size: 12px;
}
.bootstrap .maincontainer .aside {
  background-color: #F7F7F7;
  padding: 3px;
}
.bootstrap .maincontainer .aside__nav {
  font-size: 15px;
  height: 50px;
  border: none;
}
.bootstrap .maincontainer .aside__nav .active {
  border: none;
}
.bootstrap .maincontainer .aside__nav a {
  color: #2F2F2F;
}
.bootstrap .maincontainer .aside__nav a i {
  color: #EF4C85;
}
.bootstrap .maincontainer .aside__content {
  width: 100%;
  height: calc(100% - 50px);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bootstrap .maincontainer .aside__content .settings i {
  color: #EF4C85;
}
.bootstrap .maincontainer .aside__content .settings a {
  color: #2F2F2F;
}
.bootstrap .maincontainer .aside__content .logs {
  border: 1px solid #CCCCCC;
  border-radius: 7px;
  padding: 15px;
  padding-top: 25px;
  position: relative;
}
.bootstrap .maincontainer .aside__content .logs__title {
  position: absolute;
  background: white;
  padding: 4px;
  top: 0;
  transform: translateY(-50%);
}
.bootstrap .settings-popup {
  font-size: 12px;
}
.bootstrap .settings-popup .modal-content {
  height: 440px !important;
}
.bootstrap .settings-popup .modal-header {
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom-color: transparent;
}
.bootstrap .settings-popup .modal-title {
  font-size: 16px;
  font-weight: bold;
}
.bootstrap .settings-popup .nav {
  border-bottom: 1px solid #e8e8e8;
}
.bootstrap .settings-popup .nav-link {
  padding-left: 0px;
  color: #2F2F2F;
  border-bottom: 3px solid transparent;
}
.bootstrap .settings-popup .active {
  border-bottom: 3px solid #EF4C85;
}
.bootstrap .settings-popup .modal-body {
  padding: 25px;
  padding-top: 0;
}
.bootstrap .settings-popup .modal-body .content {
  padding-top: 30px;
}
.bootstrap .settings-popup .btn {
  font-size: inherit;
}
.bootstrap .checklist {
  list-style: none;
  padding-left: 0;
}
.bootstrap .checklist li label {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
